
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content_top">
    <div class="heading">
        <h3>Giới thiệu</h3>
    </div>
  
    <div class="clear"></div>
</div>
<br /><br />
<div class="alert-success">
    Mystore chúng tôi chuyên phân phối bán buôn giày dép nam và hàng vnxk trên toàn quốc.<br /><br />
    Đến với Mystore các bạn sẽ luôn được đảm bảo nguồn hàng ổn định và chất lượng để bán lẻ ra thị trường.<br /><br />
    Các sản phẩm được phân phối từ chúng tôi luôn được làm trên chất liệu cao cấp nhập khẩu từ 3 thị trường có chất liệu tốt nhất thế giới như Ấn Độ, Hàn Quốc và Indonesia mẫu mã thiết kế dành riêng cho thị trường Việt Nam.<br /><br />
</div>
 