@model List<ShoeShop.Models.CartItem>
<div class="cart">
    <p>
        Chào mừng đến với MyStore! <span>Giỏ hàng</span><div id="" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>
